    <div class="about">
        <h5 class="aboutTitle">About Pasta Heaven</h5>
        <hr>
        <hr>
        <p class="aboutP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae repellendus vero quis expedita reiciendis voluptatem
            dolores possimus ut molestias animi sunt nulla, delectus culpa non repellat ipsa dignissimos et nihil! Obcaecati
            porro labore nostrum quos placeat. Alias modi eveniet veniam minus a quia sint maiores in labore asperiores beatae,
            repellat quae expedita at ab aspernatur sed pariatur dolorum id incidunt voluptatum error. Voluptate recusandae
            error voluptatum nostrum, rerum inventore in est provident quae nemo aliquam reprehenderit ipsa, voluptas quidem,
            aut mollitia atque deleniti eaque beatae velit illum cupiditate ut veniam placeat.</p>

        <h5 class="aboutTitle">Newsletter--</h5>
        <input type="email" placeholder="your email address">
        <button class="submit btn btn-secondary btn-sm">Submit</button>

    </div>

    <footer>
        <p class="footerP">Salty Springs, Fortnite Ave. Tel: +555-555-5555, +555-555-5556 Open From 11:00 AM to 11:00 PM. Buffet every Saturday
            6:30 PM</p>
        <p class="footerP">Copyright &copy; BoomDesigns</p>


    </footer>








    <script src="js/lib/bootstrap.min.js"></script>


</body>

</html>