<% include partials/header %>

    <!--Jumbotron 1 Parallax-->
    <div class="jumbotron jumbBook">
        <h1 class="welcome animated">
            <span class="welcometo ">Book a Space at</span>
            <br>Pasta Heaven</h1>
        <div class="learn">
            <a class="btn btn-success btn-md" href="/" role="button">Learn more</a>
        </div>

    </div>
    <div class="container">
        <div class="booking">
            <div>
                <i class="far fa-calendar-alt"></i>
                <input type="date">
            </div>

            <div>
                <i class="far fa-clock"></i>
                <select>
                    <option value="volvo">11:00</option>
                    <option value="saab">12:00</option>
                    <option value="volvo">1:00</option>
                    <option value="saab">2:00</option>
                    <option value="saab">3:00</option>
                    <option value="saab">4:00</option>
                    <option value="saab">5:00</option>
                    <option value="saab">6:00</option>
                    <option value="saab">7:00</option>
                    <option value="saab">8:00</option>
                    <option value="saab">9:00</option>
                    <option value="saab">10:00</option>
                </select>
                <select>
                    <option value="volvo">AM</option>
                    <option value="saab">PM</option>
                </select>
            </div>

            <div>
                <i class="fas fa-users"></i>
                <input type="number">
            </div>



            <div>
                <i class="fas fa-utensils"></i>
                <select>
                    <option value="volvo">Indoors</option>
                    <option value="saab">Outdoors</option>
                </select>
            </div>


        </div>





    </div>

    <button class="btn btn-success bookTable" type="submit">BOOK A TABLE</button>
    <div class="note">
        <p>Note: You will be charged $50 (non-refundable) for booking the space 
                which can be redeemed on any order at the restaurant.</p>
    </div>

    <% include partials/footer %>


