<% include partials/header %>

    <!--Jumbotron 1 Parallax-->
    <div class="jumbotron jumbBook">
        <h1 class="welcome animated">
            <span class="welcometo">Contact us at</span>
            <br>Pasta Heaven</h1>
        <div class="learn">
            <a class="btn btn-success btn-md" href="/" role="button">Learn more</a>
        </div>

        <!--  -->

        <div class="contact container">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phonenumber" placeholder="(XXX)-XXX-XXXX">

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>   
                <br>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
<% include partials/footer %>