<% include partials/header %>

  <!--Jumbotron 1 Parallax-->
  <div class="jumbotron jumbimg1">
    <h1 class="welcome animated">
      <span class="welcometo">Welcome to</span>
      <br>Pasta Heaven</h1>




  </div>

  <!--Wrapper1-->

  <div class="wrapper1 container container2">
    <div class="intro">
      <h1 class="titles">Authentic Italian Cuisine</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut, sequi
        inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque numquam nostrum
        explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus odio assumenda
        saepe magnam asperiores ducimus obcaecati.</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestias cumque beatae placeat perspiciatis distinctio,
        minus esse sequi adipisci eum, eaque ea fugiat! Molestias adipisci, non eligendi saepe ratione atque doloribus? Eum.
      </p>
      <a href="menu">Click here to see the menu</a>

    </div>

    <div>
      <img class="images fourimage" src="img/penne.jpg" alt="" srcset="">
    </div>
    <div>
      <img class="images fourimage" src="img/fettuccini.jpg" alt="" srcset="">
    </div>


  </div>

  <!--JumboTron2 Triple Image Parallax -->

  <div class="jumbimg2 container">
    <h1 class="jumbimg2h1 titles">Traditional Recipes</h1>
  </div>

  <!--Wrapper2-->
  <div class="wrapper2 container container2">
    <div>
      <div class="gallery">
        <div>
          <img class="images fourimage" src="img/sixImage4.jpg" alt="" srcset="">
        </div>
        <div>
          <img class="images fourimage" src="img/sixImage3.jpg" alt="" srcset="">
        </div>

      </div>

    </div>

    <div>
      <div class="gallery">
        <img class="images fourimage" src="img/sixImage2.jpg" alt="" srcset="">
      </div>
      <div>
        <img class="images fourimage" src="img/sixImage1.jpg" alt="" srcset="">
      </div>

    </div>
    <div class="intro">
      <h1 class="titles">Our Menu</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut, sequi
        inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque numquam nostrum
        explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus odio assumenda
        saepe magnam asperiores ducimus obcaecati.</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestias cumque beatae placeat perspiciatis distinctio,
        minus esse sequi adipisci eum, eaque ea fugiat! Molestias adipisci, non eligendi saepe ratione atque doloribus? Eum.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut, sequi
        inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque numquam nostrum
        explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus odio assumenda
        saepe magnam asperiores ducimus obcaecati.</p>
      <p>
        <a href="menu">See Menu</a>
    </div>
  </div>

  <!--JumboTron3 Flavors-->
  <div class="jumbotron jumbimg3">
    <h1 class="welcome">
      Flavors of Italy</h1>
  </div>

  <!--Wrapper1 again "Perfect Blend"-->

  <div class="wrapper1 container container2">
    <div class="intro">
      <h1 class="titles">The Perfect Blend</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut, sequi
        inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque numquam nostrum
        explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus odio assumenda
        saepe magnam asperiores ducimus obcaecati.</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestias cumque beatae placeat perspiciatis distinctio,
        minus esse sequi adipisci eum, eaque ea fugiat! Molestias adipisci, non eligendi saepe ratione atque doloribus? Eum.
      </p>
      <a href="menu">Full Menu Here</a>

    </div>
    <div>
      <img class="images fourimage" src="img/fettuccini.jpg" alt="" srcset="">
    </div>
    <div>
      <img class="images fourimage" src="img/penne.jpg" alt="" srcset="">
    </div>

  </div>

  <% include partials/footer %>