<% include partials/header %>
    <!--Jumbotron 1 Parallax-->
    <div class="jumbotron jumbMenu">
        <h1 class="welcome animated">
            <span class="welcometo">Welcome to</span>
            <br>Pasta Heaven</h1>
        <div class="learn">
            <a class="btn btn-success btn-md" href="/" role="button">Learn more</a>
        </div>


    </div>

    <div class="wrapper2 container container2 ">
        <div>
            <div class="gallery">
                <div>
                    <img class="images" src="img/sixImage4.jpg" alt="" srcset="">
                </div>
                <div>
                    <img class="images" src="img/sixImage3.jpg" alt="" srcset="">
                </div>

            </div>

        </div>

        <div>
            <div class="gallery">
                <img class="images" src="img/sixImage2.jpg" alt="" srcset="">
            </div>
            <div>
                <img class="images" src="img/sixImage1.jpg" alt="" srcset="">
            </div>

        </div>
        <div class="intro">
            <h1 class="titles">Menu</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut,
                sequi inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque
                numquam nostrum explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus
                odio assumenda saepe magnam asperiores ducimus obcaecati.</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestias cumque beatae placeat perspiciatis distinctio,
                minus esse sequi adipisci eum, eaque ea fugiat! Molestias adipisci, non eligendi saepe ratione atque doloribus?
                Eum.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt corrupti a, nostrum, magnam aut,
                sequi inventore distinctio praesentium voluptate maiores quod quas alias dicta rem veritatis. Sed doloremque
                numquam nostrum explicabo repellendus laudantium facilis velit, quo est, corporis recusandae quam eos voluptatibus
                odio assumenda saepe magnam asperiores ducimus obcaecati.</p>
            <p>

        </div>
    </div>

    <div class="container">
        <table class="container">
            <!--Pastas-->
            <tr>
                <th></th>
                <th class="price">PRICE</th>
            </tr>
            <tr>
                <th class="foodType">Pastas</th>

            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Spaghetti and Meatballs
                    </div>
                    <div>
                        <p>Orlit ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.50</td>
            </tr>
            <hr>
            <tr>
                <td>
                    <div class="dish-name">
                        Fettuccine Alfredo
                    </div>
                    <div>
                        <p>Dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">100.00</td>
            </tr>
            <hr>
            <tr>
                <td>
                    <div class="dish-name">
                        Ciceri e Tria
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">5.50</td>
            </tr>
            <hr>
            <tr>
                <td>
                    <div class="dish-name">
                        Carbonara
                    </div>
                    <div>
                        <p>Ipsum dolor sit amet,elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">5.75</td>
            </tr>
            <hr>
            <tr>
                <td>
                    <div class="dish-name">
                        Penne all'arrabbiata
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.50</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Ravioli
                    </div>
                    <div>
                        <p> dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">6.50</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Lasagne
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet,g elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.75</td>
            </tr>
            <!--PIZZAS-->
            <tr>
                <th class="foodType">Pizzas</th>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Pepperoni n Cheese
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.50</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Margherita
                    </div>
                    <div>
                        <p> dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">6.50</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Pizza siciliana
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet,g elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.75</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Pizza romana
                    </div>
                    <div>
                        <p> dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">6.50</td>
            </tr>
            <tr>
                <td>
                    <div class="dish-name">
                        Pizza capricciosa
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet,g elit. Commodi voluptatum, quaerat veritatis
                        </p>
                    </div>
                </td>
                <td class="price">7.75</td>
            </tr>
        
             <!--Veggies-->
             <tr>
                    <th class="foodType">Vedura</th>
                </tr>
                <tr>
                    <td>
                        <div class="dish-name">
                            Caponata
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quaerat veritatis
                            </p>
                        </div>
                    </td>
                    <td class="price">7.50</td>
                </tr>
                <tr>
                    <td>
                        <div class="dish-name">
                            Peperonata
                        </div>
                        <div>
                            <p> dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                            </p>
                        </div>
                    </td>
                    <td class="price">6.50</td>
                </tr>
                <tr>
                    <td>
                        <div class="dish-name">
                            Pestât
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet,g elit. Commodi voluptatum, quaerat veritatis
                            </p>
                        </div>
                    </td>
                    <td class="price">7.75</td>
                </tr>
                <tr>
                    <td>
                        <div class="dish-name">
                            Pinzimonio
                        </div>
                        <div>
                            <p> dolor sit amet, consectetur adipisicing elit. Commodi voluptatum, quaerat veritatis
                            </p>
                        </div>
                    </td>
                    <td class="price">6.50</td>
                </tr>
                <tr>
                    <td>
                        <div class="dish-name">
                            Asparagi bianchi e verdi
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet,g elit. Commodi voluptatum, quaerat veritatis
                            </p>
                        </div>
                    </td>
                    <td class="price">7.75</td>
                </tr>
                <tr>
            </tr>
        </table>
    </div>









    <% include partials/footer %>